.App {
background-image: url('./img/background.jpg');
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
background-position: center;
text-align: center;
height: 1000px;
}

.App-logo {
  /*animation: App-logo-spin infinite 10s linear;*/
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: 'BioRhyme Expanded', serif;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.receivedMessage, .countdownTimer {
  margin-top: 10px;
  font-size: 30px;
}

.input {

	position:relative;

	// bigger font size for demo purposes
	font-size: 1.5em;


	// the width of the input border
	padding: 3px;

	// we want inline fields by default
	display: inline-block;

	// we want rounded corners no matter the size of the field
	border-radius: 9999em;
}
