html {
  background-image: url('./img/background.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  text-align: center;
}

.headerContainer {
  background-color: white;
  text-align: right;
}

.navigation {
  list-style: none;
  margin-top: 0;
  font-size: 1em;
  font-family: 'BioRhyme Expanded', serif;
  padding: 15px;
}

.navigation li {
  display: inline;
  margin-right: 20px
}

.App-logo {
  /*animation: App-logo-spin infinite 10s linear;*/
  height: 80px;
}

.jumbotron {
  display:inline-block;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  font-family: 'BioRhyme Expanded', serif;
}

.App-intro {
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.receivedMessage, .countdownTimer {
  font-size: 1.5em;
  font-family: 'BioRhyme Expanded', serif;
  margin-top: 25px;
}

/* form styles */
.input {
  border: #FFC107;
  position: relative;
  border-style: double;
  height: 25px;
  width: 250px;
  margin-bottom: 15px;
  font-size: 1.5em;
  padding: 3px;
  margin-top: 15px;

	// we want inline fields by default
	display: inline-block;

	// we want rounded corners no matter the size of the field
	border-radius: 9999em;
}

.button {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'BioRhyme Expanded', serif;
	font-size:10px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

/* modal styles */
.modalbackdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
}

.modalstyle {
  background-color: #FDE83D;
  border-radius: 5;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 10px;
}

.modalcontent {
  width: 96%;
  margin-top: 25px;
  font-family:'BioRhyme Expanded', serif;
  font-size: 12px;
}

.modalimage {
  margin-top: 10px;
}

.closemodal {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
